* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D0D0D;
    font-family: 'Fira Sans';
    color: #F5F5F5;
}

.container {
    max-width: 1642px;
    margin: 0 auto;

    @media(max-width:1747px) {
        max-width: 80%;
    }

    @media(max-width:1466px) {
        max-width: 80%;
    }
}

.imglogo {
    max-width: 184px;
}

header {
    padding-top: 51px;

    .menu {
        display: none;
    }

    button {
        border: none;
        cursor: pointer;
    }
}

.navigation {
    display: flex;
    align-items: center;

    ul {
        list-style-type: none;
        display: flex;
        padding-right: 64px;

        @media(max-width:1747px) {
            padding-right: 45px;
        }

    }

    nav {
        display: flex;
        padding-left: 190px;
        align-items: center;

        @media(max-width:1747px) {
            padding-left: 130px;

            .about {
                display: none;
            }
        }

        a {
            text-decoration: none;
            color: #F5F5F5;
            font-size: 20px;
        }
    }

    @media(max-width:1747px) {
        font-size: 18px;
    }

    @media(max-width:1466px) {
        .acc {
            display: none;
        }

        .menu {
            display: block;
        }

        nav {
            display: none;
        }

        justify-content: space-between;

        .buttons button {
            padding-left: 29px;
        }
    }
}

.buttons {
    display: flex;
    padding-left: 170px;

    @media(max-width:1657px) {
        padding-left: 80px;
    }

    @media(max-width:1577px) {
        padding-left: 40px;
    }

    button {
        background-color: transparent;
        padding-left: 29px;

        @media(max-width:1524px) {
            padding-left: 15px;
        }

        img {
            max-width: 28px;
        }
    }
}

.first {

    padding-top: 131px;
    max-width: 70%;

    .car {
        position: relative;
        left: 600px;
        top: -210px;

        @media(max-width:1747px) {
            position: relative;
            left: 520px;

            img {
                max-width: 100%;
            }
        }
    }

    @media(max-width:1445px) {
        padding-top: 81px;
    }

    .text {
        position: absolute;

        .paragraph {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            font-size: 60px;
            max-width: 961px;
            padding-bottom: 37px;


            .text_pink {
                padding-left: 20px;
                color: #FF02C0;
                font-family: 'Fira Sans';
            }

            @media(max-width:1747px) {
                font-size: 50px;
                max-width: 700px;
            }

            @media(max-width:1600px) {
                font-size: 40px;
                max-width: 500px;
            }
        }

        button {
            background-color: transparent;
            border: #02FD45 solid;
            border-radius: 10px;
            font-size: 24px;
            color: #02FD45;
            padding: 15px 33px;
            cursor: pointer;
            font-weight: 600;

            @media(max-width:1600px) {
                font-size: 20px;
                padding: 10px 25px;
            }
        }
    }



}

.second {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -160px;

    img {
        max-width: 38px;
        padding-right: 9px;
    }

    p {
        max-width: 410px;
        font-size: 20px;
        color: #F5F5F5;
    }

    div {
        display: flex;
        align-items: flex-start;
    }
}

.third {
    text-align: center;
    padding-bottom: 112px;

    img {
        max-width: 1500px;
    }

    p {
        font-size: 35px;
        font-weight: 400;
    }

    h3 {
        text-align: center;
        font-size: 64px;
        color: #F5F5F5;
        font-weight: 600;
        padding-bottom: 74px;
    }

    h5 {
        font-size: 45px;
        color: #02FD45;
        font-weight: 600;
        padding-bottom: 26px;
    }

    .Ellipse {
        display: inline-block;

        img {
            margin: 15px;
        }
    }

    .filials {
        display: flex;
        justify-content: space-around;
        padding-bottom: 47px;

        .contacts {
            display: flex;
            align-items: center;
            padding-bottom: 17px;

            img {
                max-width: 50px;
                padding-right: 15px;
            }
        }

        .cars {
            display: flex;
            align-items: center;
            padding-left: 55px;
            padding-bottom: 17px;

            img {
                width: 206px;
                height: 30px;
                padding-left: 32px;
            }
        }

        .butt {
            display: flex;
            align-items: center;
            padding-top: 37px;

            img {
                padding-left: 22px;
                padding-right: 22px;
                height: 30px;
            }

            .buy {
                background-color: transparent;
                border: #02FD45 solid;
                border-radius: 10px;
                font-size: 24px;
                color: #02FD45;
                padding: 15px 33px;
                cursor: pointer;
                font-weight: 600;
            }

            .more {
                background-color: #02FD45;
                border-radius: 10px;
                font-size: 24px;
                color: #0D0D0D;
                padding: 16px 58px;
                cursor: pointer;
                font-weight: 600;

            }
        }


    }
}

.fourth {
    text-align: center;

    h3 {
        text-align: center;
        font-size: 64px;
        color: #F5F5F5;
        font-weight: 600;
        padding-bottom: 74px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: #F5F5F5;
        max-width: 233px;
        padding-top: 20px;
    }

    .choose {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 62px;
    }
}

.marquee-infinite {
    background-color: #FF02C0;
    margin: 20px auto;
    overflow: hidden;
}

.marquee-infinite div {
    display: flex;
    width: 200%;
    height: 68px;
    align-items: center;
    animation: marquee-infinite 7s linear infinite;

    h1 {
        white-space: nowrap;
        width: 100%;
    }
}

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.fifth {
    padding-top: 100px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pink {
        color: #FF02C0;
    }

    h3 {
        font-size: 80px;
        font-weight: 600;
        color: #F5F5F5;
        max-width: 741px;


    }

    p {
        color: #F5F5F5;
        font-weight: 400;
        font-size: 20px;
    }

    .text-paragraf {
        display: inline-block;
        padding-bottom: 35px;
    }

    .butt {
        display: flex;
        align-items: center;
        padding-top: 37px;

        img {
            padding-left: 22px;
            padding-right: 22px;
            height: 30px;
        }

        .buy {
            background-color: transparent;
            border: #02FD45 solid;
            border-radius: 10px;
            font-size: 24px;
            color: #02FD45;
            padding: 16px 33px;
            cursor: pointer;
            font-weight: 600;
        }

        .more {
            background-color: #02FD45;
            border-radius: 10px;
            font-size: 24px;
            color: #0D0D0D;
            padding: 16px 33px;
            cursor: pointer;
            font-weight: 600;

        }
    }
}

.sixth {
    text-align: center;

    h3 {
        font-size: 64px;
        color: #F5F5F5;
        padding-top: 37px;
        padding-bottom: 55px;
    }

    h5 {
        font-size: 48px;
        color: #02FD45;
        padding-bottom: 74px;
    }

    p {
        font-size: 24px;
        color: #F5F5F5;
    }

    .blocks {
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;

        .price {
            border: #FF02C0 4px solid;
            border-radius: 30px;
            text-align: center;
            padding: 60px;
            width: 488px;
        }
    }

    .ul {
        display: flex;
        align-items: center;
        padding-bottom: 45px;
        text-align: left;

        img {
            padding-right: 15px;
        }
    }

    .butt {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 37px;
        padding-bottom: 130px;

        img {
            padding-left: 22px;
            padding-right: 22px;
            height: 30px;
        }

        .buy {
            background-color: transparent;
            border: #02FD45 solid;
            border-radius: 10px;
            font-size: 24px;
            color: #02FD45;
            padding: 16px 47px;
            cursor: pointer;
            font-weight: 600;
        }

        .more {
            background-color: #02FD45;
            border-radius: 10px;
            font-size: 24px;
            color: #0D0D0D;
            padding: 16px 33px;
            cursor: pointer;
            font-weight: 600;

        }
    }
}

.rewievs-main {
padding-bottom:130px ;
    h3{
        font-size: 64px;
        font-weight: 600px;
        padding-bottom:70px ;
        text-align: center;
    }
    .rewievs {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            font-size: 58px;
            padding-bottom: 50px;
            color: #02FD45;
            font-weight: 600;
        }

        p {
            color: #F5F5F5;
            font-size: 32px;
            padding-bottom: 50px;
            max-width: 574px;
        }

        .arrow {
            max-width: 85px;
        }

        button {
            background-color: transparent;
            border: #02FD45 solid;
            border-radius: 10px;
            font-size: 24px;
            color: #02FD45;
            padding: 16px 47px;
            cursor: pointer;
            font-weight: 600;
        }
    }
}
.faq{
    max-width: 1600px;
    padding: 40px;
    display: grid;
    gap: 2rem;
    padding-bottom: 135px;

}
.faq .title{
    font-size: 64px;
    color: #F5F5F5;
    margin: 3rem auto;
}
.question{
    background-color: transparent;
    border: #02FD45 4px solid;
    border-radius: 27px;
}
.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 48px;
    gap: 1.5rem;
    cursor: pointer;
    h5{
        font-size: 40px;
        font-weight: 400;
        color: #F5F5F5;
    }

}
.question-toggle{
    max-width: 87px;
}
.question-content{
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.question-content .text-answer{
    padding: 40px;
    font-size: 30px;
    font-weight: 400;
}
.question-title .open, 
.question-title.active .close{
    display: block;
}
.question-title.active .open, 
.question-title .close {
    display: none;

}
.question-title.active + .question-content{
    max-height: 70rem;
}
.sign-up{
    background-color: #FF02C0;
    padding-bottom: 85px;
    .sign-flex{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    h5{
        font-size: 43px;
        font-weight: 600;
        color: #F5F5F5;
        padding-bottom: 30px;
        padding-top: 50px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: #F5F5F5;
        padding-bottom: 30px;
    }
    input{
        background-color: #FF59D5;
        border: none;
        padding:23px 26px ;
        border-radius:10px ;
        color: #F5F5F5;
        font-size: 18px;
    }
    input::-webkit-input-placeholder{
        color: #F5F5F5;
    }
    button{
        background-color: #F5F5F5;
        border: none;
        border-radius: 10px;
        color: #FF02C0;
        padding: 20px 46px;
        font-size: 24px;
        font-weight: 600;
    }
    .sign-inputs{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.contacts{
    text-align: center;
    padding-bottom: 124px;
    padding-top: 124px;
    .contacts-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    iframe{
        width: 45vw;
        height: 40vw;
    }
    h3{
        font-size: 64px;
        color: #F5F5F5;
        font-weight: 600;
        padding-bottom: 70px;
    }
    h5{
        font-size: 40px;
        font-weight: 600;
        color: #F5F5F5;
    }
    p{
        text-align: left;
        padding-left: 80px;
        padding-bottom: 10px;
        color:#F5F5F5 ;
        font-weight: 400;
        font-size: 20px;
    }
    .contacts-nav{
        display: flex;
        align-items: center;
        gap: 7px;
    }
}
footer{
    padding-bottom: 130px;
    h5{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 15px;
    }
    text-align: left;
    .container{display: flex;
    justify-content: space-between;}
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{            text-decoration: none;
            padding-bottom: 10px;
            color: #F5F5F5;
            font-size: 20px;
            .green{
                color: #02FD45;
            }}
    }
    .footer-flex-logo{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            max-width: 32px;
        }
        p{
            padding: 0;
        }
    }
    .green{
        color: #02FD45;
    }
    p{
        padding-bottom: 10px;
        color: #F5F5F5;
        font-size: 20px;  
    }
    .footer-flex{
        display: flex;
        gap: 20px;
        padding-top: 48px;
    }
}
